<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Footprint Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <nav>
        <div class="photo-container">
            <img src="https://media.istockphoto.com/id/1387271093/vector/reduce-your-carbon-footprint-icon.jpg"
                alt="Your Photo" width="200" height="200">
        </div>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('meal_plans') }}">Meal Plans</a></li>
            <li><a href="{{ url_for('calculator') }}">Carbon Footprint</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
    </nav>

    <section id="calculator" class="section">
        <h2>Track Your Carbon Footprint</h2>
        <p>Use our tool to calculate the carbon impact of your meals.</p>
    </section>
    <style>
        .footer {
            background-color: #28be28;
            color: white;
            padding: 10px;
            margin-top: auto; /* Pushes the footer to the bottom */
            text-align: center;
        }</style>
    <div class="container">
        <h1>Carbon Footprint Calculator</h1>
        <form action="/calculate" method="POST">
            <label for="product">Select Animal Product:</label>
            <select name="product" id="product">
                <option value="beef">Beef</option>
                <option value="chicken">Chicken</option>
                <option value="milk">Milk</option>
                <option value="lamb">Cheese</option>
                <option value="eggs">Eggs</option>
                <option value="pork">Pork</option>
                <option value="fish">Fish</option>
            </select>
            <label for="quantity">Enter Quantity (in kg):</label>
            <input type="number" step="0.01" name="quantity" id="quantity" required>
            <button type="submit">Calculate</button>
        </form>

        {% if total_footprint %}
        <div class="result">
            <h2>Carbon Footprint Calculation</h2>
            <p>The carbon footprint for {{ quantity }} kg of {{ product }} is {{ total_footprint }} kg of CO2e.</p>
        </div>
        {% endif %}
    </div>


    <footer class="footer">
        <p>Email: info@footprint.com</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
